.dashboard-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav header" "nav content" "nav footer";
  height: 100vh;
}

app-header {
  grid-area: header;
}

app-nav {
  grid-area: nav;
}

app-dashboard-page {
  grid-area: content;
}

app-footer {
  grid-area: footer;
}

@media (max-width: 991px) {
  .dashboard-container {
    display: grid;
    grid-template-columns: min-content 100%;
    overflow-x: hidden;
  }
}
