@use "devices";

.dashboard-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nav header" "nav content";
  height: 100vh;

  @include devices.device(phone, phablet, tablet) {
    display: grid;
    grid-template-columns: min-content 100%;
    overflow-x: hidden;
  }
}

app-header {
  grid-area: header;
}

app-nav {
  grid-area: nav;
}

#dashboard-content-wrapper {
  grid-area: content;
  overflow: auto;
}
