.dashboard-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nav header" "nav content";
  height: 100vh;
}

app-header {
  grid-area: header;
}

app-nav {
  grid-area: nav;
}

#dashboard-content-wrapper {
  grid-area: content;
  overflow: auto;
}

@media (max-width: 991px) {
  .dashboard-container {
    display: grid;
    grid-template-columns: min-content 100%;
    overflow-x: hidden;
  }
}
