@import "variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.surface {
  display: flex;
  flex-direction: column;
  margin: 15% auto 0;
  width: 50%;
  max-width: 600px;
  @include surface();
  @include theme() {
    color: theme-color($color-on-surface)
  }
}

.title {
  font-size: 23px;
  font-weight: 500;
  align-self: center;
  margin-bottom: 20px;
}

#msg {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
}

#return-home {
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 20px;
  }

  .surface {
    width: 75%;
  }
}

@media only screen and (max-width: 390px) {
  .title {
    font-size: 16px;
  }
}
