@import "variables";

button {
  padding: 12px;
  border-radius: 24px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  @include theme() {
    color: theme-color($color-on-primary);
    background: theme-color($color-primary);
  }
  display: block;
}

button:hover {
  cursor: pointer;
}

button:hover:enabled {
  @include theme() {
    background: theme-color($color-primary-variant);
  }
}

button:disabled {
  @include theme() {
    background: disabled-color(theme-color($color-primary));
  }
}

.loading {
  animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
