.surface {
  padding-bottom: 0;
  padding-top: 0;
}

.top-section {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.filter-icon {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  top: 0;
  bottom: 0;
}

.search-field {
  flex-basis: 75%;
  min-width: 20px;
}

mat-form-field.mat-form-field {
  font-size: 20px;
  color: var(--color-on-surface);
}

mat-checkbox.mat-checkbox, mat-radio-group.mat-radio-group {
  font-size: 16px;
}

.input-focus {
  color: var(--color-primary)
}

.bottom-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  padding: 12px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-on-surface);
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  mat-form-field.mat-form-field {
    font-size: 18px;
  }
  .input-label {
    font-size: 16px;
  }
  mat-checkbox.mat-checkbox, mat-radio-group.mat-radio-group {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  mat-form-field.mat-form-field {
    font-size: 16px;
  }
  .input-label {
    font-size: 15px;
  }
  mat-checkbox.mat-checkbox, mat-radio-group.mat-radio-group {
    font-size: 14px;
  }
}
