.dynamic-form-component-container {
  position: relative
}

.input-wrap {
  margin-bottom: 15px;
}

label {
  margin-bottom: 4px;
  display: block;
}

.error {
  padding: 2px 25px;
  margin: 10px 10px 0;
  display: inline-block;
  border-radius: 12px;
}

app-success {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}



