.form-container {
  position: relative
}

.input-wrap {
  margin-bottom: 15px;
}

label {
  margin-bottom: 4px;
  font-size: .9em;
  color: var(--color-on-surface);
  font-weight: 600;
  display: block;
}

.error {
  color: var(--color-error);
  padding: 0 25px;
  margin: 10px 10px 0;
  display: inline-block;
  background: var(--color-error-background);
  border-radius: 12px;
  font-size: small;
}

app-success {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}



