<div class="container">
<!-- Pagination selectors when there are more than 3 pages. -->
  <ul *ngIf="lastPage > 3">
    <ul *ngIf="!(curPage == firstPage)">
      <li>
        <button class="nav-btn" (click)="onPreviousPage()">
          <fa-icon [icon]="faIcons.left"></fa-icon>
        </button>
      </li>

      <li>
        <button class="nav-btn" (click)="onFirstPage()">{{firstPage}}</button>
      </li>

      <li>
        <span class="dots">...</span>
      </li>
    </ul>

    <li>
      <button class="nav-btn cur-page">{{curPage}}</button>
    </li>

    <ul *ngIf="!(curPage == lastPage)">
      <li>
        <span class="dots">...</span>
      </li>

      <li>
        <button class="nav-btn" (click)="onLastPage()">{{lastPage}}</button>
      </li>

      <li>
        <button class="nav-btn" (click)="onNextPage()">
          <fa-icon [icon]="faIcons.right"></fa-icon>
        </button>
      </li>
    </ul>
  </ul>

  <!-- Pagination selectors when there are less than 3 pages. -->
  <ul *ngIf="lastPage <= 3 && lastPage > 1">
    <li *ngIf="!(curPage == firstPage)">
      <button class="nav-btn" (click)="onPreviousPage()">
        <fa-icon [icon]="faIcons.left"></fa-icon>
      </button>
    </li>

    <li>
      <button class="nav-btn" [ngClass]="{'cur-page': curPage == 1}" (click)="onFirstPage()">1</button>
    </li>

    <li>
      <button class="nav-btn" [ngClass]="{'cur-page': curPage == 2}" (click)="onPage(2)">2</button>
    </li>

    <li *ngIf="lastPage == 3">
      <button class="nav-btn" [ngClass]="{'cur-page': curPage == 3}" (click)="onLastPage()">3</button>
    </li>

    <li *ngIf="!(curPage == lastPage)">
      <button class="nav-btn" (click)="onNextPage()">
        <fa-icon [icon]="faIcons.right"></fa-icon>
      </button>
    </li>
  </ul>
</div>
