<div class="paginator-component-container">
  <!-- Pagination selectors when there are more than 3 pages. -->
  <ul *ngIf="lastPage > 3">
    <ul *ngIf="!(curPage == firstPage)">
      <li>
        <button class="nav-btn" (click)="onPreviousPage()">
          <fa-icon [icon]="faIcons.left"></fa-icon>
        </button>
      </li>
    </ul>

    <li>
      <mat-form-field class="page-selector">
        <mat-select (selectionChange)="onPage($event.value)" [(value)]="curPage">
          <mat-option *ngFor="let page of getPages()" [value]="page">
            {{page}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>

    <ul *ngIf="!(curPage == lastPage)">
      <li>
        <button class="nav-btn" (click)="onNextPage()">
          <fa-icon [icon]="faIcons.right"></fa-icon>
        </button>
      </li>
    </ul>
  </ul>

  <!-- Pagination selectors when there are less than 3 pages. -->
  <ul *ngIf="lastPage <= 3 && lastPage > 1">
    <li *ngIf="!(curPage == firstPage)">
      <button class="nav-btn" (click)="onPreviousPage()">
        <fa-icon [icon]="faIcons.left"></fa-icon>
      </button>
    </li>

    <li>
      <button class="nav-btn" [ngClass]="{'cur-page': curPage == 1}" (click)="onPage(1)">1</button>
    </li>

    <li>
      <button class="nav-btn" [ngClass]="{'cur-page': curPage == 2}" (click)="onPage(2)">2</button>
    </li>

    <li *ngIf="lastPage == 3">
      <button class="nav-btn" [ngClass]="{'cur-page': curPage == 3}" (click)="onPage(3)">3</button>
    </li>

    <li *ngIf="!(curPage == lastPage)">
      <button class="nav-btn" (click)="onNextPage()">
        <fa-icon [icon]="faIcons.right"></fa-icon>
      </button>
    </li>
  </ul>
</div>
