@import "variables";

.container {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > ul, li {
  display: inline;
}

.nav-btn {
  min-width: 40px;
  height: 40px;
  margin: 3px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  @include theme() {
    background-color: theme-color($color-primary);
    color: theme-color($color-on-primary);
  }
}

.cur-page {
  cursor: initial;
}

.nav-btn {
  margin: 3px;
}

.nav-btn:hover, .cur-page {
  @include theme() {
    background-color: theme-color($color-primary-variant);
  }
}

.nav-btn:disabled {
  @include theme() {
    background-color: disabled-color(theme-color($color-primary));
  }
  cursor: initial;
}
