<style>
  .to-delete {
    font-weight: bold;
    font-style: italic;
  }
</style>

<div class="dialog-component-container">
  <div class="icon-wrap" mat-dialog-title>
    <fa-icon [icon]="deleteIcon" [styles]="deleteIconStyle"></fa-icon>
  </div>

  <div mat-dialog-content>
    <p class="description">Are you sure you want to delete <span class="to-delete">{{toDelete}}</span></p>
  </div>

  <div mat-dialog-actions class="actions">
    <button class="action-button" [mat-dialog-close]="false">Cancel</button>
    <button class="action-button" [mat-dialog-close]="true">Yes</button>
  </div>

</div>





