<nav (mouseenter)="onNavMouseEnter()" (mouseleave)="onNavMouseLeave()" class="main-nav"
     [ngClass]="{'closed-nav':navBarState == navBarStates.CLOSED}">

  <div class="logo-container">
    <img class="logo-image" src="assets/ic_box.svg" alt="logo">
    <h1 class="logo-text">Parcel Organizer</h1>
  </div>

  <div>
    <ul>
      <li [routerLinkActive]="['active']">
        <a routerLink="/portal">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.cubes"></fa-icon>
          <span class="nav-list-item-text">Parcels</span>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a routerLink="/privacy-policy">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.plusCircle"></fa-icon>
          <span class="nav-list-item-text">Create Parcel</span>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a routerLink="/account">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.user"></fa-icon>
          <span class="nav-list-item-text">Account</span>
        </a>
      </li>

      <li>
        <a (click)="onLogout()">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.logout"></fa-icon>
          <app-button [width]="'160px'">Logout</app-button>
        </a>
      </li>
    </ul>
  </div>
</nav>
