@import "variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

fa-icon {
  @include theme() {
    color: theme-color($color-error);
  }
}

p {
  width: 250px;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 18px;
  font-size: 22px;
  font-weight: 600;
}

a {
  margin: 0;
  @include theme() {
    color: theme-color($color-on-background);
  }
}
