.container {
  width: 300px;
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
}

.icon-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-on-surface-variant);
  display: flex;
  margin: 0 auto;
}

fa-icon {
  line-height: 100%;
  margin: auto;
}

.description {
  color: var(--color-on-surface-variant)
}

.parcel-title {
  font-weight: bold;
  font-style: italic;
}

.actions {
  margin-left: auto;
}

.action-button {
  color: var(--color-on-surface);
  outline: none;
  border: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 4px;
}

.action-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}
