@use "devices";

$max-parcel-items-row: 3;
$parcels-item-gap: 22px;
$pi-width: 400px;
$parcels-max-width: calc((#{$pi-width} + (#{$parcels-item-gap} * 2)) * #{$max-parcel-items-row});

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.parcels {
  align-self: center;
  width: 100%;
  max-width: $parcels-max-width;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @include devices.device(phone, phablet, tablet) {
    justify-content: center;
  }
}

.item-wrapper {
  margin: $parcels-item-gap;
  flex: 0 0 $pi-width;

  @include devices.device(phone, phablet) {
    flex: 0 0 100%;
  }

  @include devices.tablet {
    flex: 0 0 550px;
  }
}

.paginator {
  align-self: center;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.empty-state-img {
  width: 250px;

  @include devices.device(phone, phablet, tablet) {
    width: 50%;
    max-width: 250px;
  }
}

.empty-state-text {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 18px;
}

.filter-form {
  width: 90%;
  margin: auto;
  max-width: 650px;
}
