<div #parcelsContainer class="container">
  <div class="filter-form" [hidden]="!parcelsFetched">
    <app-parcel-filter-form (sortFilterConfigEmitter)="sortAndFilterConfig$.next($event)"></app-parcel-filter-form>
  </div>

  <div class="parcels">
    <div @transition *ngFor="let parcel of (curPageParcels$ | async)" class="item-wrapper">
      <app-parcel-item [parcel]="parcel" (parcelDeleted)="onParcelDeleted($event)"></app-parcel-item>
    </div>
  </div>

  <div *ngIf="!(curPageParcels$ | async)?.length && parcelsFetched" class="empty-state">
    <img class="empty-state-img" src="assets/ic_empty_box.svg" alt="empty-state">
    <p class="empty-state-text mat-title">It appears no parcels could be found.</p>
  </div>

  <div *ngIf="pagingConfig$ | async as paging" class="paginator">
    <app-paginator [hidden]="paging.maxPages <= 1"
                   [lastPage]="paging.maxPages" [curPage]="paging.curPage"
                   (curPageEvent)="onPageChange($event)"></app-paginator>
  </div>
</div>
