@import "variables";

$max-parcel-items-row: 3;
$parcels-item-gap: 22px;
$pi-width: 400px;
$parcels-max-width: calc((#{$pi-width} + (#{$parcels-item-gap} * 2)) * #{$max-parcel-items-row});

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.parcels {
  align-self: center;
  width: 100%;
  max-width: $parcels-max-width;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item-wrapper {
  margin: $parcels-item-gap;
  flex: 0 0 $pi-width;
}

.paginator {
  align-self: center;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.empty-state-img {
  width: 250px;
}

.empty-state-text {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 18px;
  font-size: 22px;
  font-weight: 600;
  @include theme() {
    color: theme-color($color-on-background);
  }
}

.filter-form {
  width: 90%;
  margin: auto;
  max-width: 650px;
}

@media (max-width: 991px) {
  .parcels {
    justify-content: center;
  }

  .item-wrapper {
    flex: 0 0 550px;
  }

  .empty-state-img {
    width: 50%;
    max-width: 250px;
  }

  .empty-state-text {
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  .item-wrapper {
    flex: 0 0 100%;
  }
}
