:host {
  --max-parcel-items-row: 3;
  --parcels-item-gap: 22px;
  --parcels-max-width: calc((var(--pi-width) + (var(--parcels-item-gap) * 2)) * var(--max-parcel-items-row));
}

.container {
  display: flex;
  justify-content: center;
}

.parcels {
  max-width: var(--parcels-max-width);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item-wrapper {
  margin: var(--parcels-item-gap);
  flex: 0 0 var(--pi-width);
}

@media (max-width: 991px) {
  .parcels {
    justify-content: center;
  }

  .item-wrapper {
    flex: 0 0 550px;
  }
}

@media (max-width: 600px) {
  .item-wrapper {
    flex: 0 0 100%;
  }
}
