@import "variables";

/*Grid percentages*/
$perc-left: 62%;
$perc-grid-gap: 6%;
$perc-right: calc(100% - #{$perc-left} - #{$perc-grid-gap});

/*Divider percentages*/
$perc-divider-left: calc(#{$perc-left} + calc(#{$perc-grid-gap} / 2));
$perc-divider-height: 84%;
$perc-divider-top: calc(calc(100% - #{$perc-divider-height}) / 2);

.container {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @include theme() {
    color: theme-color($color-pi-on);
  }
}

.center {
  position: relative;
}

.title {
  text-align: center;
  font-size: 20px;
  margin: 0 0 12px 0;
  @include theme() {
    color: theme-color($color-pi-title);
  }
}

.information-item {
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: $perc-left $perc-right;
  grid-gap: $perc-grid-gap;
  margin: 8px 0;
}

.information-icon {
  line-height: 100%;
  vertical-align: middle;
}

.information-text {
  font-size: 15px;
  word-break: break-all;
}

.left {
  display: flex;
  justify-content: flex-start;
  grid-area: left;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: right;
}

.left .information-icon {
  margin-right: 6px;
}

.right .information-icon {
  margin-left: 6px;
}

.divider {
  height: $perc-divider-height;
  top: $perc-divider-top;
  position: absolute;
  left: $perc-divider-left;
  @include theme() {
    border: 1px solid theme-color($color-pi-divider);
  }
}

.action-icon:hover {
  cursor: pointer;
  @include theme() {
    color: theme-color($color-pi-action-hover);
  }
}

.clickable:hover {
  cursor: pointer;
}

.action-icon {
  margin-right: 6px;
  @include theme() {
    color: theme-color($color-pi-action);
  }
}

.action-icon:last-child {
  margin-right: 0;
}

.ordered {
  @include theme() {
    background-color: theme-color($color-pi-ordered);
  }
}

.sent {
  @include theme() {
    background-color: theme-color($color-pi-sent);
  }
}

.delivered {
  @include theme() {
    background-color: theme-color($color-pi-delivered);
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 18px;
  }

  .information-text {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 16px;
  }

  .information-text {
    font-size: 14px;
  }
}
