@use "helpers";

/*Grid percentages*/
$perc-left: 62%;
$perc-grid-gap: 6%;
$perc-right: calc(100% - #{$perc-left} - #{$perc-grid-gap});

/*Divider percentages*/
$perc-divider-left: calc(#{$perc-left} + calc(#{$perc-grid-gap} / 2));
$perc-divider-height: 84%;
$perc-divider-top: calc(calc(100% - #{$perc-divider-height}) / 2);

.parcel-item-component-container {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  color: var(--pi-on-color);
  box-shadow: var(--mat-sys-level2);
  font-weight: 500;
}

.center {
  position: relative;
}

.title {
  text-align: center;
  margin: 0 0 12px 0;
  font: var(--mat-sys-title-large);
  font-size: 20px;
  font-weight: 500;
  color: var(--pi-title-color);
}

.information-item {
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: $perc-left $perc-right;
  grid-gap: $perc-grid-gap;
  margin: 8px 0;
}

.information-icon {
  line-height: 100%;
  vertical-align: middle;
}

.information-text {
  //font-size: 15px;
  word-break: break-all;
}

.left {
  display: flex;
  justify-content: flex-start;
  grid-area: left;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: right;
}

.left .information-icon {
  margin-right: 6px;
}

.right .information-icon {
  margin-left: 6px;
}

.divider {
  height: $perc-divider-height;
  top: $perc-divider-top;
  position: absolute;
  left: $perc-divider-left;
  border: 1px solid var(--pi-divider-color);
}

.action-icon:hover {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.action-icon {
  border-radius: 50%;
  padding: 8px;
  margin-right: -8px;
  color: var(--pi-action-button-color);
  @include helpers.hover();
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.ordered {
  background-color: var(--pi-ordered-color);
}

.sent {
  background-color: var(--pi-sent-color);
}

.delivered {
  background-color: var(--pi-delivered-color);
}
