.reset-forget-password-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.surface {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  max-width: 600px;
}

.title {
  align-self: center;
  margin-bottom: 20px;
}

#msg {
  margin-top: 12px;
}

#return-home {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 20px;
  }

  .surface {
    width: 75%;
  }
}

@media only screen and (max-width: 390px) {
  .title {
    font-size: 16px;
  }
}
