@use 'node_modules/@angular/material' as mat;
@use 'custom-color-palettes' as custom-color-palettes;
@use 'typography' as custom-typograhy;
@use 'sass:map';

//Custom color collection. Ref: https://stackoverflow.com/a/58165951
$dark-theme-custom-color-collection: (
  default : #4caf50,
  background: #102027,
  surface: mix(#102027, #ffffff, 84%),
  header: mix(#102027, #ffffff, 94%),
  footer: mix(#102027, #ffffff, 94%),
  input: rgba(#ffffff, .8),
  pi-ordered: #5d4037,
  pi-sent: #494949,
  pi-delivered: #29434e,
  pi-title: rgba(#fbc02d, .9),
  pi-action: rgba(#e6ee9c, .8),
  pi-action-hover: rgba(#e6ee9c, .6),
  pi-divider: rgba(#ffffff, .3),
  contrast: (
    default : #000000,
    background: rgba(#ffffff, .8),
    surface: rgba(#ffffff, .8),
    header: rgba(#ffffff, .8),
    footer: rgba(#ffffff, .8),
    input: rgba(#ffffff, .2),
    pi-ordered: rgba(#f9fbe7, .8),
    pi-sent: rgba(#f9fbe7, .8),
    pi-delivered: rgba(#f9fbe7, .8),
    pi-title: #000000,
    pi-action: #000000,
    pi-action-hover: #000000,
    pi-divider: #000000,
  )
);

// Custom color palette.
$dark-theme-custom-palette: mat.define-palette($dark-theme-custom-color-collection, default, default, default);

// Primary palette.
$dark-theme-primary: mat.define-palette(custom-color-palettes.$mat-deep-orange-400);

// Accent palette.
$dark-theme-accent: mat.define-palette(custom-color-palettes.$mat-red-200);

// Warn palette.
$dark-theme-warn: mat.define-palette(custom-color-palettes.$mat-white);

// Create the dark theme.
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $dark-theme-accent,
    warn: $dark-theme-warn
  ),
  typography: custom-typograhy.$typography-config
));

// Add custom color collection to the dark theme.
$color-config: mat.get-color-config($dark-theme, color);
$color-config: map.merge($color-config, (custom: $dark-theme-custom-palette));

$dark-theme: map.merge($dark-theme, (color: $color-config));
