.main-nav {
  background-color: var(--color-nav);
  height: 100%;
  color: var(--color-on-nav);
  overflow: hidden;
  width: 260px;
}

.closed-nav {
  width: 60px;
}

.logo-container {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 20px 10px 16px 10px;
}

.logo-image {
  width: 64px;
  height: 64px;
}

.logo-text {
  overflow: hidden;
  white-space: nowrap;
  margin: 6px 0 0 0;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
}

.main-nav, .logo-container, .logo-image {
  transition: all 1s ease 0.3s;
}

.closed-nav .logo-container {
  margin-bottom: 40px;
}

.closed-nav .logo-text {
  visibility: hidden;
  opacity: 0;
}

.closed-nav .logo-image {
  width: 40px;
  height: 40px;
}

.nav-list-item-text {
  margin-left: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  width: 100%;
  padding: 8px 0 8px 18px;
  text-decoration: none;
  color: var(--color-on-nav);
  display: inline-block;
  white-space: nowrap;
  transition: border-left-color ease 1s, color 1s ease;
}

a:hover {
  cursor: pointer;
}

fa-icon {
  transition: color 1s ease;
  color: var(--color-surface);
  vertical-align: middle;
  line-height: 100%;
}

.closed-nav fa-icon {
  color: var(--color-disabled);
}

.active a {
  border-left: 4px solid var(--color-surface);
  padding-left: 14px;
}

.closed-nav .active a {
  border-left-color: var(--color-disabled);
}

.closed-nav a {
  color: var(--color-disabled);
}

.closed-nav app-button {
  opacity: 0.4;
}

app-button {
  display: inline-block;
  margin-left: 18px;
  transition: opacity 1s ease;
}

@media (max-width: 991px) {
  .closed-nav {
    width: 0;
  }

  .main-nav, .logo-container, .logo-image {
    transition: all 0.7s ease 0.1s;
  }
}
