<nav class="nav-component-container" (mouseenter)="onNavMouseEnter()" (mouseleave)="onNavMouseLeave()"
     [ngClass]="{'active-nav': (navBarState == navBarStates.CLIPPED || navBarState == navBarStates.OPENED)}">

  <div class="logo-container">
    <img class="logo-image" src="assets/ic_box.svg" alt="logo">
    <h2 class="logo-text">Parcel Organizer</h2>
  </div>

  <div>
    <ul>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="navRoutes.parcels">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.cubes"></fa-icon>
          <span>Parcels</span>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="navRoutes.createParcel">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.plusCircle"></fa-icon>
          <span>Create Parcel</span>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="navRoutes.account">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.user"></fa-icon>
          <span>Account</span>
        </a>
      </li>

      <li style="margin-top: 16px">
        <a (click)="onToggleTheme()">
          <div *ngIf="(appThemeMode$ | async) === APP_THEME_MODE.LIGHT">
            <fa-icon [styles]="faIconStyle" [icon]="faIcons.moon"></fa-icon>
            <span>Dark Theme</span>
          </div>
          <div *ngIf="(appThemeMode$ | async) === APP_THEME_MODE.DARK">
            <fa-icon [styles]="faIconStyle" [icon]="faIcons.sun"></fa-icon>
            <span>Light Theme</span>
          </div>
        </a>
      </li>

      <li style="margin-top: 24px">
        <a (click)="onLogout()">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.logout"></fa-icon>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
