@use "devices";

.nav-component-container {
  height: 100%;
  overflow: hidden;
  width: 60px;

  @include devices.device(phone, phablet, tablet) {
    width: 0;
  }
}

.nav-component-container, a, .active a {
  border-color: var(--mat-sys-on-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  background-color: var(--mat-sys-secondary-container);
}

.logo-container {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 20px 10px 40px 10px;
}

.logo-image {
  width: 40px;
  height: 40px;
}

nav, .logo-container, .logo-image {
  transition: all 1s ease 0.3s, background-color 0ms;

  @include devices.device(phone, phablet, tablet) {
    transition: all 0.7s ease 0.1s;
  }
}

.logo-text {
  overflow: hidden;
  white-space: nowrap;
  margin: 6px 0 0 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
  font: var(--mat-sys-title-large);
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  width: 100%;
  padding: 8px 0 8px 18px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}

a:hover {
  cursor: pointer;
}

fa-icon {
  vertical-align: middle;
  line-height: 100%;
}

span {
  margin-left: 18px;
}

.active-nav {
  width: 260px;
}

.active-nav .logo-container {
  margin-bottom: 16px;
}

.active-nav .logo-image {
  width: 64px;
  height: 64px;
}

.active-nav .logo-text {
  visibility: visible;
  opacity: 1;
}

.active-nav a, .active-nav fa-icon {
  transition: border-left-color 1s ease, color 1s ease;
}

.active-nav {
  opacity: 1;
}

.active a {
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 14px;
}


