<nav (mouseenter)="onNavMouseEnter()" (mouseleave)="onNavMouseLeave()"
     [ngClass]="{'closed-nav':navBarState == navBarStates.CLOSED}">

  <div class="logo-container">
    <img class="logo-image" src="assets/ic_box.svg" alt="logo">
    <h1 class="logo-text">Parcel Organizer</h1>
  </div>

  <div>
    <ul>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="navRoutes.parcels">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.cubes"></fa-icon>
          <span>Parcels</span>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="navRoutes.createParcel">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.plusCircle"></fa-icon>
          <span>Create Parcel</span>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="navRoutes.account">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.user"></fa-icon>
          <span>Account</span>
        </a>
      </li>

      <li>
        <a (click)="onLogout()">
          <fa-icon [styles]="faIconStyle" [icon]="faIcons.logout"></fa-icon>
          <app-button [width]="'160px'">Logout</app-button>
        </a>
      </li>
    </ul>
  </div>
</nav>
