nav {
  background-color: var(--color-nav);
  height: 100%;
  overflow: hidden;
  width: 60px;
}

.logo-container {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 20px 10px 40px 10px;
}

.logo-image {
  width: 40px;
  height: 40px;
}

nav, .logo-container, .logo-image {
  transition: all 1s ease 0.3s;
}

.logo-text {
  overflow: hidden;
  color: var(--color-on-default);
  white-space: nowrap;
  margin: 6px 0 0 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
  font-weight: 800;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  width: 100%;
  padding: 8px 0 8px 18px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}

a, fa-icon {
  color: var(--color-disabled);
}

a:hover {
  cursor: pointer;
}

.active a {
  border-left: 4px solid var(--color-disabled);
  padding-left: 14px;
}

fa-icon {
  vertical-align: middle;
  line-height: 100%;
}

span, app-button {
  margin-left: 18px;
}

app-button {
  display: inline-block;
  opacity: 0.4;
  transition: opacity 1s ease;
}

.active-nav {
  width: 260px;
}

.active-nav .logo-container {
  margin-bottom: 16px;
}

.active-nav .logo-image {
  width: 64px;
  height: 64px;
}

.active-nav .logo-text {
  visibility: visible;
  opacity: 1;
}

.active-nav a {
  color: var(--color-on-default);
}

.active-nav fa-icon {
  color: var(--color-surface);
}

.active-nav a, .active-nav fa-icon {
  transition: border-left-color 1s ease, color 1s ease;
}

.active-nav app-button {
  opacity: 1;
}

.active-nav .active a {
  border-left: 4px solid var(--color-surface);
  padding-left: 14px;
}

@media (max-width: 991px) {
  nav {
    width: 0;
  }

  nav, .logo-container, .logo-image {
    transition: all 0.7s ease 0.1s;
  }
}
