input[type=text], input[type=password], input[type=email], select {
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  width: 100%;
  display: block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}
