@import "variables";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  @include theme() {
    background-color: theme-color($color-background);
  }
}

main {
  padding: 24px;
  flex: 1 1 auto;
}

app-footer {
  flex: 0 1 100%;
}
