@use "devices";
@use "@angular/material" as mat;

.dialog-component-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 12px;

  @include mat.dialog-overrides((
    actions-padding: 0,
    content-padding: 0,
  ))
}

.icon-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--mat-sys-error-container);
}

.mat-icon {
  $size: var(--mat-sys-headline-large-size);
  line-height: 100%;
  font-size: $size;
  height: $size;
  width: $size;
  padding: 0;
  margin: 0;

  @include mat.icon-overrides((
    color: var(--mat-sys-error)
  ))
}

.description {
  text-align: center;
  margin-top: 12px;
}

.actions {
  margin-left: auto;
}

.action-button {
  outline: none;
  border: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 4px;
  margin: 4px;
}

.action-button:hover {
  cursor: pointer;
}
