@import "variables";

.container {
  display: flex;
  flex-direction: column;
  @include theme() {
    background-color: theme-color($color-surface);
  }
}

.icon-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  @include theme() {
    background-color: theme-color($color-on-surface);
  }
}

fa-icon {
  line-height: 100%;
  margin: auto;
}

.description {
  text-align: center;
  margin-top: 12px;
  @include theme() {
    color: theme-color($color-on-background);
  }
}

.actions {
  margin-left: auto;
}

.action-button {
  outline: none;
  border: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  margin: 4px;
  @include theme() {
    color: theme-color($color-on-primary);
    background-color: rgba(theme-color($color-primary), .75);
  }
}

.action-button:hover {
  cursor: pointer;
  @include theme() {
    background-color: rgba(theme-color($color-primary), .9);
  }
}

@media (min-width: 550px) {
  .container {
    width: 350px;
  }
}
