@import "variables";

.content {
  padding: 15px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  flex-direction: column;
}

header {
  text-align: center;
}

#title {
  margin: 0;
}

#subtitle {
  margin: 0;
}

#title, #subtitle {
  @include theme() {
    color: theme-color($color-on-background);
  }
}

.center-container {
  display: flex;
  width: 100%;
  min-height: 550px;
  margin: 24px auto 24px auto;
  @include surface()
}

.logo-center-container {
  flex: 1;
  align-self: center;
  justify-content: center;
  display: flex;
  padding: 16px;
}

.logo-center {
  width: 85%;
  max-width: 500px;
}

.form-container {
  border-radius: 25px;
  flex: 1;
}

.select-form-container {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.select-form-label {
  width: 40%;
  font-size: 22px;
  padding-bottom: 12px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  @include theme() {
    color: theme-color($color-on-surface);
  }
}

.login,
.register {
  display: none;
}

.login:checked + .select-form-label,
.register:checked + .select-form-label {
  font-size: 24px;
  @include theme() {
    border-color: theme-color($color-secondary);
  }
}

.theme-icon-container {
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
  @include surface();
}

fa-icon {
  @include theme() {
    color: theme-color($color-secondary);
  }
}

.theme-icon-container:hover fa-icon {
  @include theme() {
    color: theme-color($color-secondary-variant);
  }
}

.forgot-password-btn {
  margin-top: 12px;
}

@media only screen and (max-width: 767px) {
  #title {
    font-size: 25px;
  }

  #subtitle {
    font-size: 20px;
  }

  .center-container {
    min-height: auto;
    max-height: none;
  }

  .logo-center-container {
    display: none;
  }
}

@media only screen and (max-width: 390px) {
  #title {
    font-size: 22px;
    font-weight: 600;
  }

  #subtitle {
    font-size: 18px;
  }

  #title, #subtitle {
    line-height: 1.4em;
    margin: 3px 0;
  }

  .forgot-password-btn {
    font-size: 12px;
  }
}
