@use "devices";

.home-component-container {
  padding: 15px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  flex-direction: column;
}

header {
  text-align: center;
}

#title, #subtitle {
  margin: 0;
}

.center-container {
  display: flex;
  width: 100%;
  min-height: 550px;
  margin: 24px auto 24px auto;

  @include devices.device(phone, phablet) {
    min-height: auto;
    max-height: none;
  }

}

.logo-center-container {
  flex: 1;
  align-self: center;
  justify-content: center;
  display: flex;
  padding: 16px;

  @include devices.device(phone, phablet) {
    display: none;
  }
}

.logo-center {
  width: 85%;
  max-width: 500px;
}

.form-container {
  border-radius: 25px;
  flex: 1;
}

.select-form-container {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.select-form-label {
  width: 40%;
  padding-bottom: 12px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.login,
.register {
  display: none;
}

.theme-icon-container {
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
}

.forgot-password-btn {
  margin-top: 12px;
}
