<div class="content">

  <header>
    <h1 id="title">Parcel Organizer</h1>
    <h2 id="subtitle">Simple organizing of your parcels</h2>
  </header>

  <div class="center-container surface">

    <div class="logo-center-container">
      <img class="logo-center" src="assets/ic_box.svg" alt="logo">
    </div>

    <div class="form-container">
      <form class="select-form-container" [formGroup]="formSelector">
        <input id="login" type="radio" formControlName="formSelect" [value]=FORM_TYPES.LOGIN class="login">
        <label for="login" class="select-form-label">Login </label>
        <input id="register" type="radio" formControlName="formSelect" [value]=FORM_TYPES.REGISTER class="register">
        <label for="register" class="select-form-label"> Register </label>
      </form>
      <app-user-auth-form [hidden]="formSelector.get('formSelect').value !== FORM_TYPES.LOGIN" [loading$]="loading$"
                          (validFormResult$)="authenticateUser($event)"></app-user-auth-form>

      <app-user-form formAction="Register" [hidden]="formSelector.get('formSelect').value !== FORM_TYPES.REGISTER"
                     [loading$]="loading$"
                     (validFormResult$)="registerUser($event)"></app-user-form>

    </div>
  </div>
</div>
