@import "variables";

.container {
  display: flex;
  flex-direction: column;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 38px;
}

.surface {
  @include surface()
}

app-parcel-item {
  margin: 12px 0;
  pointer-events: none;
  width: 100%;
  max-width: 525px;
}

.mat-title {
  @include theme() {
    color: theme-color($color-on-surface);
  }
}
