.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  margin-top: 38px;
  max-width: 700px;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
}

.form, .preview {
  width: 100%;
  margin-bottom: 28px;
}

app-parcel-item {
  pointer-events: none
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 0
  }
}
