// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-color-primary-palette: (
  50 : #e4e5f0,
  100 : #babdd8,
  200 : #8d91bf,
  300 : #5f65a5,
  400 : #3c4491,
  500 : #1a237e,
  600 : #171f76,
  700 : #131a6b,
  800 : #0f1561,
  900 : #080c4e,
  A100 : #8387ff,
  A200 : #5056ff,
  A400 : #1d24ff,
  A700 : #030cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-color-accent-palette: (
  50 : #f1e2ea,
  100 : #dbb7ca,
  200 : #c487a7,
  300 : #ac5684,
  400 : #9a3269,
  500 : #880e4f,
  600 : #800c48,
  700 : #750a3f,
  800 : #6b0836,
  900 : #580426,
  A100 : #ff8ab1,
  A200 : #ff578f,
  A400 : #ff246d,
  A700 : #ff0a5c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-color-warn-palette: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$parcel-organizer-web-primary: mat-palette($md-color-primary-palette);
$parcel-organizer-web-accent: mat-palette($md-color-accent-palette);

// The warn palette is optional (defaults to red).
$parcel-organizer-web-warn: mat-palette($md-color-warn-palette);

// Create the theme object (a Sass map containing all of the palettes).
$parcel-organizer-web-theme: mat-light-theme($parcel-organizer-web-primary, $parcel-organizer-web-accent, $parcel-organizer-web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($parcel-organizer-web-theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
// Override the typography in the core CSS.
@include mat-core($custom-typography);

.app-dialog .mat-dialog-container {
  background: var(--color-surface);
}

.mat-tooltip {
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.mat-simple-snackbar-action {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 30px
}

.mat-simple-snackbar {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-on-primary);
}

.mat-snack-bar-container {
  background: var(--color-primary);
}

.mat-title{
  margin: 0 auto 12px auto;
  width: fit-content;
  text-align: center;
  padding: 0 12px 4px 12px;
  border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
}
