// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat.define-typography-config(
  $font-family: 'Poppins, sans-serif',
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 500)
);

button {
  font-family: 'Poppins', sans-serif;
}

// Override the typography in the core CSS.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($custom-typography);

// Regular light theme.
@include mat.all-component-themes($parcel-organizer-web-theme);

// Dark theme.
.theme-dark {
  @include mat.all-component-themes($parcel-organizer-web-theme-dark);
}

.app-dialog .mat-dialog-container {
  @include theme-root() {
    background-color: theme-color($color-surface);
  }
}

app-header .mat-spinner circle {
  @include theme-root() {
    stroke: theme-color($color-on-header)!important;
  }
}

.mat-tooltip {
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.mat-simple-snackbar-action {
  @include theme-root {
    color: theme-color($color-primary)
  }
}

.mat-simple-snackbar {
  font-weight: 500;
  font-size: 15px;
  @include theme-root {
    color: theme-color($color-on-surface)
  }
}

.mat-snack-bar-container {
  @include theme-root {
    background: theme-color($color-surface)
  }
}

.mat-title {
  margin: 0 auto 12px auto;
  width: fit-content;
  text-align: center;
  padding: 0 12px 4px 12px;
  @include theme-root() {
    border-bottom: 2px rgba(theme-color($color-on-surface), 0.7) solid;
  }
}
