@use '@angular/material' as mat;

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body, .app-container {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

body, input, textarea, select, select option {
  font: var(--mat-sys-body-medium), sans-serif;
}

input, textarea, select, option {
  background-color: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-on-surface);
}

* {
  box-sizing: border-box;
}

:focus {
  outline-style: none;
}

.surface {
  border-radius: 24px;
  padding: 16px;
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

