/* You can add global styles to this file, and also import other style files */
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

:root {
  /*Primary color for widgets*/
  --color-primary: #7654e5;
  --color-primary-variant: #4a47e5;
  --color-primary-disabled: rgba(74, 71, 229, 0.51);

  /*Background colors*/
  --color-background: #E57654;
  --color-surface: #e5365c;
  --color-header: #fff5d7;
  --color-nav: #101368;
  --color-footer: #AD1457;

  /*Error and disabled colors*/
  --color-error: #ffffff;
  --color-error-background: rgba(0, 0, 0, 0.75);
  --color-disabled: gray;

  /*"On" colors define how text, icons and strokes are colored in relation to the surface on which they appear.*/
  --color-on-default: #ffffff;
  --color-on-variant: #000000;

  /*Parcel item colors*/
  --pi-color-ordered: #01579B;
  --pi-color-sent: #880E4F;;
  --pi-color-delivered: #1B5E20;
  --pi-color-on: #F3FEE2;
  --pi-color-title: #FFCA28;
  --pi-color-action: #b8c3a7;

  /*Parcel item properties*/
  --pi-width: 400px;
  --pi-margin: 22px;
  --max-parcel-items-row: 3;
  --parcels-max-width: calc((var(--pi-width) + (var(--pi-margin) * 2)) * var(--max-parcel-items-row));
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--color-background);
  height: 100vh;
}

* {
  box-sizing: border-box;
}

:focus {
  outline-style: none;
}

.surface {
  background: var(--color-surface);
  border-radius: 24px;
  padding: 16px;
}
