/* You can add global styles to this file, and also import other style files */
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

:root {
  /*Primary color for widgets*/
  --color-primary: #1a237e;
  --color-primary-variant: #000051;
  --color-primary-disabled: rgba(26, 35, 126, 0.61);

  --color-secondary: #880e4f;
  --color-secondary-variant: #560027;

  /*Background colors*/
  --color-background: #ff867c;
  --color-surface: #ffddc1;
  --color-input: rgba(255, 255, 255, 0.8);

  /*Error colors*/
  --color-error: rgba(0, 0, 0, 0.8);

  /*"On" colors define how text, icons and strokes are colored in relation to the surface on which they appear.*/
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-background: #000000;
  --color-on-surface: #000000;
  --color-on-error: #ffffff;
  --color-on-input: #000000;

  /*Parcel item colors*/
  --pi-color-ordered: #0d47a1;
  --pi-color-sent: #006064;;
  --pi-color-delivered: #1B5E20;
  --pi-color-on: #f9fbe7;
  --pi-color-title: #fbc02d;
  --pi-color-action: #e6ee9c;
  --pi-color-action-hover: #b3bc6d;
  --pi-color-divider: rgba(255, 255, 255, 0.35);

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--color-background);
  height: 100vh;
}

* {
  box-sizing: border-box;
}

:focus {
  outline-style: none;
}

.surface {
  background: var(--color-surface);
  border-radius: 24px;
  padding: 16px;
}
