@use 'sass:map';
@use 'node_modules/@angular/material' as mat;
@use 'devices' as devices;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $custom: map.get($color-config, custom);

  .header-component-container {
    color: mat.get-color-from-palette($custom, header-contrast);
    background-color: mat.get-color-from-palette($custom, header);

    .mat-spinner circle {
      stroke: mat.get-color-from-palette($custom, header-contrast) !important;
    }
  }

}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  .header-component-container {
    .title {
      @include mat.typography-level($typography-config, title);
      margin: 0;
      font-size: 24px;
    }
  }

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
