@use 'sass:map';
@use 'node_modules/@angular/material' as mat;
@use 'devices' as devices;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $custom: map.get($color-config, custom);

  .mat-simple-snackbar-action {
    color: mat.get-color-from-palette($primary);
  }

  .mat-simple-snackbar {
    font-weight: 500;
    font-size: 15px;
    color: mat.get-color-from-palette($custom, surface-contrast);
  }

  .mat-snack-bar-container {
    background: mat.get-color-from-palette($custom, surface);
  }

}

@mixin typography($theme) {
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
